nav {
    background-color: #585858;
    color: #E7691D;
}

.nav-login {
    justify-self: end;
}

.nav-title {
    color: #E7691D;
}

.flash-message {
    color: #E7691D;
}

#picture {
    width: 35px;
}
