#nav-bar {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FF6116;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    background-color: #373737
}

.column {
    float: left;
}
.left {
    width: 50%
}
.right {
    width: 50%
}