{% extends "main.html" %}
{% block content %}
<div class="column left" id="book-container">
    <a href="{{url_for('show_categories')}}">
        <h3>Book</h3></a>
    <div>
        <p>Name: {{book.name}}</p>
        <p>Description: {{book.author}}</p>
    </div>
</div>
<div class="column right" id="item-container">
    <h3>Actions</h3>
    <div>
        <a href="{{url_for('update_book', category_id=category_id, book_id = book.id)}}">
            <button>Update Book</button>
        </a>
        <a href="{{url_for('delete_book', category_id=category_id, book_id = book.id)}}">
            <button>Delete Book</button>
        </a>
    </div>
    </a>
</div>
{% endblock content %}
