{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="catalog" id="cat_header">
    <h1>Catalogs</h1>
</div>

<div class="flash">
    {% include "flash.html" %}
</div>
<div>
    <a href="{{url_for('create_catalog')}}">
        <button class="create_button">
            Create Catalog
        </button>
    </a>
</div>
<div class="catalogs">
    {% for catalog in catalogs %}
    <a href="{{url_for('show_catalog', catalog_id=catalog.id)}}">
        <div>
            <h3>{{catalog.id}} - {{catalog.name}} - {{catalog.description}}</h3>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}