{% extends "main.html" %}
{% block content %}
<div class="column left" id="category-container">
    <a href="{{url_for('show_categories')}}">
        <h3>{{category.name}}</h3></a>
    <div>
        <!--<p>Name: {{category.name}}</p>-->
        <!--<p>Description: {{category.description}}</p>-->
    </div>
</div>
<div class="column right" id="item-container">
    <h3>Actions</h3>
    <div>
        <a href="{{url_for('edit_category', category_id = category.id)}}">
            <button>Edit Category</button>
        </a>
        <a href="{{url_for('delete_category', category_id = category.id)}}">
            <button>Delete Category</button>
        </a>
    </div>
    </a>
</div>
{% endblock %}
