{% extends "main.html" %}
{% block content1 %}

{% if category %}
<form action="{{url_for('update_category', category_id=category.id)}}" method="POST">
    <div style="display: grid; grid-template-columns: repeat(7, 1fr)">
        <div style="grid-column: span 2">
            <label>Name:</label></div>
        <div style="grid-column: span 5">
            <input type="text" maxlength="100" name="name" value="{{category.name}}">
        </div>
    </div>

    <div style="display: grid; grid-template-columns: repeat(7, 1fr)">
        <div style="grid-column: span 2">
            <label>Description:</label>
        </div>
        <div style="grid-column: span 5">
            <textarea rows="10" cols="50" name="description">{{category.description}}</textarea>
        </div>
    </div>
    <div>
        <!--todo bug fix the flash message for forms using multiple submits for different url_for-->
        {% include 'save_category_button.html' %}
    </div>
</form>
{% include 'cancel_category_button.html' %}

{% else %}

<form action="{{url_for('create_category')}}" method="POST">
    <div style="display: grid; grid-template-columns: repeat(7, 1fr)">
        <div style="grid-column: span 2">
            <label>Name:</label></div>
        <div style="grid-column: span 5">
            <input type="text" maxlength="100" name="name" value="">
        </div>
    </div>

    <div style="display: grid; grid-template-columns: repeat(7, 1fr)">
        <div style="grid-column: span 2">
            <label>Description:</label>
        </div>
        <div style="grid-column: span 5">
            <textarea rows="10" cols="50" name="description"></textarea>
        </div>
    </div>
    <div>
        <!--todo bug fix the flash message for forms using multiple submits for different url_for-->
        {% include 'create_category_button.html' %}
    </div>
</form>
<div>
    <div>

    </div>
    <div>

    </div>
</div>
{% include 'cancel_category_button.html' %}
{% endif %}
{% endblock content1 %}
