{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div>
    <h1>Delete Catalog Item</h1>
</div>

{% include "flash.html" %}

<div>
    <form action="{{url_for('delete_item', catalog_id=catalog_id, item_id=item.id)}}" method="POST">
        <div>
            <button type="submit" class="btn btn-default" id="submit">Confirm Delete</button>
        </div>
    </form>
</div>
<div>
    <p>Name: {{item.name}}</p>
    <p>ID: {{item.id}}</p>
    <p>Description: {{item.description}}</p>
</div>
{% endblock %}