{% extends "main.html" %}
{% block content1 %}
    <h3>Categories</h3>
    {% if categories %}
    {% for category in categories %}
    <a href="{{url_for('show_category_books', category_id=category.id)}}">
        <div>
            <h3>{{category.name}}</h3>
        </div>
    </a>
    {% endfor %}
    {% if 'username' in session %}
    <a href="{{url_for('create_category')}}">
        <button type="submit" id="create">Create Category</button>
    </a>
    {% endif %}
    {% endif %}
{% endblock content1 %}
{% block content2 %}
{% endblock content2 %}
