{% extends "main.html" %}
{% block content %}
<div class="column left" id="category-container">
    <h3>Catalogs</h3>
    {% if catalogs %}
    {% for catalog in catalogs %}
    <a href="{{url_for('show_catalogs', catalog_id=catalog.id)}}">
        <div>
            <h3>{{catalog.id}} - {{catalog.name}} - {{catalog.description}}</h3>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <div>No categories found.</div>
    {% endif %}
</div>
<div class="column right" id="item-container">
    <h3>Items</h3>
    {% if items %}
    {% for item in items %}
    <a href="{{url_for('show_items', catalog_id=catalog.id)}}">
        <div>
            <h3>{{item.id}} - {{item.name}} - {{item.description}}</h3>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <div>No items found.</div>
    {% endif %}
</div>
{% endblock %}
