<!DOCTYPE html>
<html lang="en">
<head>
    <title>Catalog App</title>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<nav class="nav-bar">
    <div>
        <a class="nav-bar" href="{{url_for('show_catalogs')}}">Catalog App</a>
        <a class="nav-bar" href="{{url_for('login')}}">
            <button id="login-button">Login</button>
        </a>
    </div>
</nav>
<div id="main-block">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>