<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Catalog</title>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<nav class="nav-bar">
    <div>
        <a class="column left"  href="{{url_for('show_categories')}}">Book Catalog</a>
    </div>
    <div>
         <a class="column right"  href="{{url_for('login')}}">
            <button id="login-button">Login</button>
        </a>
    </div>
</nav>
<div id="main-block">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>